/* {border: solid black 1pt;}*/


@media screen {

body {background-color: #f0e7d8;
	color: #4a4132;
	font-size: 1.1rem;}


/*This is the header section*/
header {border: solid #85775f;
		padding: 12pt 0;
		margin: 36pt auto;
	/*overflow: hidden makes the border wrap around the floats. I don't know why, 
	but it works, so I'm using it.*/
		overflow: hidden;
		text-align: center;
		
	/*To do: make header and main the same width on the page*/
		max-width: 9in;}
		
		
/*I personally like my menu to be all on one page, so that's how I'm going to design 
this assignment. Also it's more challenging for me, and I want to know how to do it.*/


h1 {background-color: #f5f0e9;
	padding: 12pt;
	border-top: solid  #85775f 2pt;
	border-bottom: solid  #85775f 2pt;}

#hours {float: left; margin-left: 12pt; font-style: normal;}

#location {float: right; margin-right: 12pt; font-style: normal;}
/*This is the end of the header section*/



/*This is the main content section*/
main {margin: 36pt auto;
		max-width: 9in;
		position: relative;
		background-color: #f5f0e9;
		border: solid #85775f 2pt;*/}

section.meal-type-section {padding: 6pt;
		margin-right: 24pt;
		postition: relative;}

hr {border-top: dashed #85775f 2pt;}

section.food-type-section {max-width: 6in;
		padding: 12pt;
		margin: 12pt auto;
		border: dotted #85775f 2pt;
		float: center;}

h1, h2, h3 {font-variant: small-caps;
		color: #29251b;
		}

h2 {text-align: center; font-size: 2rem;}

h3.promotional {padding: 6pt; text-align: center;}

dt, dl {border-bottom: 1px dotted;}

dt {font-weight: bold;}

dl {font-size: 0.9em;}

p {font-style: italic;}

span {float: right;
font-weight: bold;}

footer {padding: 6pt;}

ul {list-style-type: none;}


}

@media screen and (min-width: 1000px) { 
section.meal-type-section {padding: 6pt;
		postition: relative;}
		
section.food-type-section {
		width: 3in;
		padding: 12pt;
		margin: 12pt auto;
		border: dotted #85775f 2pt;
		float: center;}
		
section.food-type-section.single-section {width: 5 in;}
		
ul {column-count: 2;
	column-gap: 36pt;
	list-style-type: none;}

ul li {display: inline-block;}

}

