body { background-color: #F5E1FD; font-family: serif; text-align: center; display: block;}

h1{ font size: 36pt; margin: 0; }

h2{ margin:0; }

p{ margin: 3pt; }

p.coup{ padding: 0 0 1em 1em; }

footer {font-size: 12pt;}