body { background-color: #eaeadd; margin: 0px; padding: 6px; font-family: 'Lora', serif; font-size: 1rem; }

#page { border: 1px solid #666666; box-shadow: 5px 5px 5px #999999; padding: 0.5in; max-width: 8.5in; margin: 0.5in auto; background-color: #ffffff; }

.section { width: 100%; padding-bottom: 24px; clear: both; }

h1 { font-family: 'Cormorant Garamond', serif; clear: both; font-size: 14pt; float: left; width: 22%; margin-top: 0px; min-width: 5em; font-variant:small-caps; color: #000066;
}

p, div.columns { float: right; width: 75%; margin-top: 3px; margin-left: 3%; font-size: 1rem;}

h1.name { float: right; width: 75%; margin-top: 3px; min-width: none; }

ul { clear: both; width: 71%; margin-left: 7%; float: right; margin-top: -12px; }

ul.cols { clear: none !important; width: 40%; margin: 0 0 0 -8px; float: left; min-width: 2in;  }

li { margin-left: -18px; font-size: 1rem; }

div.columns { padding-bottom: 18px; }

h1.name { font-family: 'Cormorant Garamond', serif; font-weight: normal; font-size: 36pt; line-height: 0.9; font-variant: normal; margin-bottom: 0; letter-spacing: -3px; margin-left: -12px; }

.blue { color: #000066; }

a:link, a:visited { text-decoration: none; color: black; }

a:hover { text-decoration: underline; color: blue; }

br.clear { display:none; }

@media print {
	body { margin: 0; padding: 0; background-color: white; color: black; }
	
	#page { border: none; padding: 0; max-width: none; margin: 0; background-color: white; color: black; }
	
	h1.name { font-family: 'Cormorant Garamond', serif; font-weight: normal; font-size: 24pt; font-variant: normal; margin-bottom: 0; letter-spacing: -4px; margin-left: -12px; }
}
