body { padding: 0; margin: 0; background-color: lightblue; }

table { margin: 1in auto; }

th { background-color: #339; color: #fff; padding: 2px 6px; }

td { padding: 6px; text-align: center; }

tr:nth-child(even) { background-color: white; }

tr:nth-child(odd) { background-color: beige; }


@media screen and (max-width: 480px) {}

@media screen and (min-width: 769px) {}

@media screen and (min-width: 1023px) {}