body { padding: 0.5in; }
section { max-width: 6in; margin: 0 auto; }
.extra-small, .small, .medium, .large, .extra-large
		{ display: none; }

/* Extra Small */
@media screen {
	body {
		background-color: purple;
		color: white; }
	.extra-small { display: block; }
	.small, .medium, .large, .extra-large
		{ display: none; }
}

/* Small */
@media screen and (min-width: 540px) { 
	body {
		background-color: orange;
		color: black; }
	.small { display: block; }
	.extra-small, .medium, .large, .extra-large
		{ display: none; }
}

/* Medium */
@media screen and (min-width: 800px) { 
	body {
		background-color: yellow;
		color: black; }
	.medium { display: block; }
	.extra-small, .small, .large, .extra-large
		{ display: none; }
}

/* Large */
@media screen and (min-width: 1000px) { 
	body {
		background-color: gray;
		color: white; }
	.large { display: block; }
	.extra-small, .small, .medium, .extra-large
		{ display: none; }
}

/* Extra Large */
@media screen and (min-width: 1180px) {
	body {
		background-color: maroon;
		color: white; }
	.extra-large { display: block; }
	.extra-small, .small, .medium, .large
		{ display: none; }

}

@media print {
	body {
		background-color: white;
		color: purple;
	}
}
