body { padding: 0; margin: 0; }

header { background-color: #c00; color: white; height: 1.5in; padding: 0.25in; box-shadow: 5px 5px 8px #888888; border-bottom: 1px solid #000000; }

footer { background-color: #ccc; padding: 0.5in 1in; border-top: 1px solid #000000; }

main { margin: 0.25in; }

code { float: right; margin-right: 0.075in; }

section { clear: both; margin: 0.25in 0 0 0; border: 1px solid #666; padding: 0.125in; }

img { float: right; height: 1.5in; margin-left: 0.25in; }

ul.third { 
	float: left;
	min-width: 2in;
	max-width: 4in;
	width: 31%;
	margin: 0 auto 0 auto;
	padding: 0 0 0 1em; }

ul.half { 
	float: left;
	min-width: 3.5in;
	width: 66%;
	margin: 0 auto 0 auto;
	padding: 0 0 0 0.175in; }

h1 { font-size: 18pt; margin-top: 0; }

h2, h3 { background-color: beige; margin: 0 0 0.125in 0; padding: 0.06in; }

li { list-style-type: none; }

/* li.b { list-style-type: square; } */

br.clear { clear: both; }

header p { font-size: 10pt; }

p.headtext { font-style: italic; margin-top: -0.125in; }

dt { display: inline; }

dt {  font-variant: small-caps; font-weight: bold;  }

a, a:visited, a:link, a:hover { color: white; text-decoration: none; }

a:hover { text-decoration: underline; }



@media screen and (max-width: 480px) {
	ul.third { 
		float: left;
		width: 92%; }

	p.headtext { display: none; font-size: 10pt; }
	
}

@media screen and (min-width: 769px) {
	header p { font-size: 12pt; }
}

@media screen and (min-width: 1023px) {
	header p { font-size: 14pt; }
}

