body { background-color: #fafaec; margin: 0;
	   font-family: Garamond, Baskerville, serif; }
header, main, footer { width: 80%; margin: 1rem auto; padding: 2rem; }
main, footer { border: 1px solid #999999; }
footer { background-color: #999966; }
main { font-family: Helvetica, Arial, sans-serif; }
ul { columns: 10rem 3; }

