body { padding: 0; margin: 0; }

div { background-image: url('liquido.jpg');
	height: 300px;
	background-size: cover; 
}

h2 { 
padding-top: 24px; 
font-family: "Georgia", serif; 
text-align: center;
	color: white;
	font-size: 72pt;
	text-shadow: 2px 2px #666666;
}