body {
  background: yellow;
  margin: 0.25in;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1 { font-size: 2rem; text-align: center; color: black; text-shadow: 2px 2px #ccc; }

h2 { font-size: 2rem; margin: 0; padding: 0 0 0 1rem; }

p { margin: 0 0 1rem 0; padding: 0; }

div { margin: 0 1rem 1rem 0; }

main { background-color: #ffffdd; 
	padding: 1rem 0 1rem 1rem;
	filter: drop-shadow(5px 5px 4px #cccccc);
    display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto auto auto auto;
      grid-template-areas:
        "A"
        "B"
        "C"
        "D"
        "E"
        "F"
    }

section { margin: 0rem -1rem 1.5rem -2rem;
		border: 1px solid #ccc; 
		background-color: #ffffdd;
		padding: 1rem 1rem 0.5rem 1rem; }

    .A { grid-area: A; background: yellow; }
    .B { grid-area: B; }
	.C { grid-area: C; background: yellow; }
    .D { grid-area: D; }
	.E { grid-area: E; background: yellow; }
	.F { grid-area: F; }
  

@media screen and (min-width: 480px) {
  body {background: orange; margin: 0.5in; }

	h1 { font-size: 4rem; text-align: center; color: white; text-shadow: 4px 4px #666; }

	main {
	  filter: drop-shadow(5px 5px 4px #666666);
      display: grid;
      align-items: top;
      grid-template-columns: 60% 40%;
      grid-template-rows: 4rem auto 4rem auto;
      grid-template-areas:
        "A C"
        "B D"
        "B E"
        "B F"
    }

section { margin: 0;
		border: none; 
		background-color: none;
		padding: 0; }

    .A { grid-area: A; background: orange; }
    .B { grid-area: B; columns: 2; }
	.C { grid-area: C; background: orange; }
    .D { grid-area: D; }
	.E { grid-area: E; background: orange; }
	.F { grid-area: F; columns: 2; }
}

@media screen and (min-width: 1024px) {
  body {background: red; margin: 0.75in; }


h1 { font-size: 4rem; text-align: center; color: white; text-shadow: 4px 4px #333; }

	main {
	  filter: drop-shadow(5px 5px 4px #3333333);
      display: grid;
      align-items: top;
      grid-template-columns: 60% 40%;
      grid-template-rows: 4rem auto 4rem auto;
      grid-template-areas:
        "A C"
        "B D"
        "B E"
        "B F"
    }
    .A { grid-area: A; background: red; }
    .B { grid-area: B; columns: 3; }
	.C { grid-area: C; background: red; }
    .D { grid-area: D; columns: 2; }
	.E { grid-area: E; background: red; }
	.F { grid-area: F; columns: 2; }
}

@media print {
	main { display: block; background-color: white; }
	body { background-color: white; }
}
